.button {
    border: solid 1px black;
    /* display: inline-block; */
    font-size: 16px;
    background-color: white;
    cursor: pointer;
    width: 100px;
    height: 70px; 
}

.button:hover {
    border: solid 5px black;
}

.footer {
    display: flex;
}


/* .b1 {
    grid-column-start: 1/2;
} */