.footer {
    grid-row-start: last;
    grid-row-end: last;
    grid-gap: 15px;
}

.pageLayout {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rateButton {
    position: absolute;
    right: 0;
}

info {
    display: flex;
    justify-content: center;
}
