.museumName {
    font-size: 1.3rem;
    font-weight: bold;
}

body {
    font-size: 1.2rem;
    line-height: 1.6rem;
}

span {
    margin: auto;
}

a {
    color: black;
}


/* .frick {
    right: 5px;
    width: 90px;
    height: 110px;
    grid-column-start: 2;
    grid-column-end: 4;

} */

.museumsList {
    display: flex;
    width: 80vw;
    margin: 20px;
}

.cooperContainer {
    grid-column-start: 2/4;
    grid-row-start: 0;
    border: 1px solid black;
    padding: 10px;
}


