button { 
    border: 1px solid black;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    background-color: white;
    cursor: pointer;
    width: 140px;
    height: 70px; 
}

ratingButton {
    position: absolute;
    right: 5px;
    top: 50px;
}
